* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.video_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

video {
  height: 100%;
  width: 500px;
  background: #000;
  cursor: pointer;
}

.play_pause_button {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.tilte {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  bottom: 20px;
  left: 50px;
}

.like_comment_share {
  position: absolute;
  right: 80px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.like_button,
.comment_button,
.share_button {
  cursor: pointer;
}

.swipe_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  bottom: 20px;
  z-index: 1;
}

.swipe_up,
.swipe_down {
  cursor: pointer;
}

@media (max-width: 992px) {
  video {
    width: 100%;
  }

  .swipe_container {
    display: none;
  }

  .like_comment_share {
    right: 40px;
  }
}
